@page
@model Forum.Pages.ThreadForum.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ForumThread</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForumThread.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForumThread.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForumThread.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForumThread.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForumThread.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForumThread.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForumThread.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForumThread.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ForumThread?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
